
obj/Debug/net5.0/Survi4s-Server.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net5.0/Survi4s-Server.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net5.0/Survi4s-Server.GeneratedMSBuildEditorConfig.editorconfig
obj/project.assets.json
obj/project.nuget.cache
obj/Survi4s-Server.csproj.nuget.dgspec.json
obj/Survi4s-Server.csproj.nuget.g.props
obj/Debug/net5.0/Survi4s-Server.genruntimeconfig.cache
obj/Debug/net5.0/Survi4s-Server.assets.cache
.vs/Survi4s-Server/v16/.suo
.vs/Survi4s-Server/DesignTimeBuild/.dtbcache.v2
bin/Debug/net5.0/KeyOren.pem
obj/Debug/net5.0/Survi4s-Server.pdb
obj/Debug/net5.0/Survi4s-Server.genruntimeconfig.cache
obj/Survi4s-Server.csproj.nuget.g.props
